.container {
  width: 100%;
  .logo{
    font-size:2rem;
    margin-top: 30px;
    text-align: center;
    font-weight:600;
    color: #ffd700;
    span{
      color: black;
    }
  }
  .tag_line{
    margin-top: 7px;
    text-transform: uppercase;
    color: grey;
    text-align: center;
    font-size: .65rem;
  }

  .trangle{
    position: relative;
  }
}
