<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="assets">
      <ion-icon [name]="selectTab == 'assets' ? 'document' : 'document-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="listing">
      <ion-icon [name]="selectTab == 'listing' ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon [name]="selectTab == 'profile' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
