<ion-header [translucent]="true">
  <ion-toolbar collapse="condense">
    <!-- <ion-buttons slot="start" >
        <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons> -->
    <ion-title>
      Ionic Playground V1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <ion-buttons slot="start" class="menu-btn">
      <ion-menu-button color="light" autoHide="false">
        <ion-icon name="grid-outline" class="m-icon"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <div class="user">
      <div class="first">
        <ion-label class="welcome">Welcome</ion-label>
        <ion-label class="username">Bob</ion-label>
      </div>
      <div class="user-back" [style.backgroundImage]="'url(assets/images/user.jpg)'">
        <!-- <ion-label class="welcome">Welcome</ion-label>
        <ion-label class="username">Bob</ion-label> -->
      </div>
    </div>

    <div class="content animated bounceUp" >
      <ion-label class="welcome">Hello, please choose your subject</ion-label>
      <ion-grid fixed>
        <ion-row>
          <ion-col  size="6" (click)="goToSubject()" *ngFor="let subject of subjects">
            <div class="col">
              <img src="{{subject.image}}">
              <ion-label>{{subject.name}}</ion-label>
            </div>


          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>
</ion-content>
